/* General Blueprint Style */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-family: 'Calibri';
	src:url('../fonts/bpicons/bpicons.eot');
	src:url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bpicons/bpicons.woff') format('woff'),
		url('../fonts/bpicons/bpicons.ttf') format('truetype'),
		url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
	font-weight: normal;
	font-style: normal;
}  

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 15px; padding: 0 !important; margin: 0; height: 100%;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    font-family: Calibri, Arial, sans-serif;
    color: #47a3da;
}

a {
	color: #f0f0f0;
	outline: none;
	text-decoration: none;
}

a:hover {
	color: #000;
}

.container > header {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	z-index: 1000;
	position: relative;
	padding: 0em 1.875em 10px;
}

.container {
	height: 30%;
	position: relative;
}

.filler-above,
.filler-below {
	width: 90%;
	height: 100%;
	position: absolute;
	background: #f0f0f0;
	padding: 0em 1.875em 1.875em;
}

.filler-above p {
	max-width: 40em;
	margin: 0 auto;
	text-align: center;
	padding: 3em 2em;
}

.filler-below {
	top: 30%;
	background: #fff;
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	z-index: 10;
	position: relative;
	padding: 0em 1.875em 1.875em;
}

.container > header h1 {
	font-size: 2.125em;
	line-height: 1.3;
	margin: 0 0 0.6em 0;
	float: left;
	font-weight: 400;
}

.container > header > span {
	display: block;
	position: relative;
	z-index: 9999;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	padding: 0 0 0.6em 0.1em;
}

.container > header > span span:after {
	width: 30px;
	height: 30px;
	left: -12px;
	font-size: 50%;
	top: -8px;
	font-size: 75%;
	position: relative;
}

.container > header > span span:hover:before {
	content: attr(data-content);
	text-transform: none;
	text-indent: 0;
	letter-spacing: 0;
	font-weight: 300;
	font-size: 110%;
	padding: 0.8em 1em;
	line-height: 1.2;
	text-align: left;
	left: auto;
	margin-left: 4px;
	position: absolute;
	color: #fff;
	background: #47a3da;
}

.container > header nav {
	float: right;
	text-align: center;
}

.container > header nav a {
	display: inline-block;
	position: relative;
	text-align: left;
	width: 2.5em;
	height: 2.5em;
	background: #fff;
	border-radius: 50%;
	margin: 0 0.1em;
	border: 4px solid #47a3da;
}

.container > header nav a > span {
	display: none;
}

.container > header nav a:hover:before {
	content: attr(data-info);
	color: #47a3da;
	position: absolute;
	width: 600%;
	top: 120%;
	text-align: right;
	right: 0;
	pointer-events: none;
}

.container > header nav a:hover {
	background: #47a3da;
}

.bp-icon:after {
	font-family: 'bpicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-align: center;
	color: #47a3da;
	-webkit-font-smoothing: antialiased;
}

.container > header nav .bp-icon:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 2;
	text-indent: 0;
}

.container > header nav a:hover:after {
	color: #fff;
}

.bp-icon-next:after {
	content: "\e000";
}

.bp-icon-drop:after {
	content: "\e001";
}

.bp-icon-archive:after {
	content: "\e002";
}

.bp-icon-about:after {
	content: "\e003";
}

.bp-icon-prev:after {
	content: "\e004";
}

@media screen and (max-width: 55em) {

	.container > header h1,
	.container > header nav {
		float: none;
	}

	.container > header > span,
	.container > header h1 {
		text-align: center;
	}

	.container > header nav {
		margin: 0 auto;
	}

	.container > header > span {
		text-indent: 30px;
	}
}

.text-left{text-align:left;}
.line{width:100%;float:left;}
.padleft{padding-left:125px;}
.center{text-align:center;}
.wb-button{padding:10px 20px;color:#555;border:1px solid #999;background:#eee;float:right;box-shadow:0px 0px 1px #333;margin:10px 0;cursor:pointer;}
.ans-wrap{width:978px;padding:15px;display:inline-block;text-align:left;color:#555;}
.ans-wrap .user{width:250px;padding:10px;float:right;border:1px solid #CCC;}
.ans-wrap .hightlight{background:#ECF2F9;}
.ans-wrap .user .img{float:left;border:1px solid #d5d5d5;background:#FFF;padding:1px;margin-right:15px;}
.ans-wrap .user .img img{width:30px;height:30px;}
.ans-wrap .user .name{font-weight:bold;font-size:16px;}
.ans-wrap .user .desc{font-size:13px;}

@media screen and (max-height: 25.25em), screen and (max-width: 44.3125em) {

	.filler-above,
	.filler-below {
		position: relative;
		background: #f0f0f0;
		height: auto;
	}

}


.register-nav{float:left;list-style:none;width:100%;margin-top:20px;}
.img-step{float:left;}
.register-nav li{float:left;width:150px;height:65px;display:block;cursor:pointer;color:#555;margin-left:10px;}
.content-boxes{width:100%;float:left;margin-top:5px;color:#555;padding:10px;}/*border:1px solid #999;*/
.content-boxes .box{margin:5px;}
.content-boxes .box table.form{}
.content-boxes .box table.form td.label{text-align:right;padding-right:50px;}
.register-controls{width:100%;float:left;margin-top:5px;text-align:right;}
.register-button{border:1px solid #999;padding:10px 15px;margin-left:1px;cursor:pointer;background:#BBB;color:#333;display:inline-block;}
.urgent-button{border:1px solid #999;padding:10px 30px;margin-left:1px;cursor:pointer;border:none;color:#333;display:inline-block;background: url(../images/button/sos.png) no-repeat;background-color: #FFFFFF;}
.zone-button{border:1px solid #999;padding:10px 15px;margin-left:1px;cursor:pointer;background:#33CC33;color:#333;display:inline-block;}
.img-disp{padding:15px;border:1px solid silver;background:#FFF;display:inline-block;}
.img-disp img{height:150px;}

.img-disp-thumb{padding:3px;border:1px solid silver;background:#FFF;display:inline-block;box-shadow: 0 0 1px #AAA;}
.img-disp-thumb img{width:54px;height:41px;}

.inputText, .select
{
	float:left;
	display: block;
    background: #fff;
    border: solid 1px #b9b9b9;
    color: #626262;
    font-size: 13px;
    line-height: 17px;
    width: 300px;
    margin: 0 0 11px;
    padding: 5px 10px;
}
.text-center{text-align:center;}
.pointer{cursor:pointer;}
.left{float:left;}
.right{float:right;}
.right-margin10{float:right; margin-right:10px;}
.margin-top10{margin-top:10px;}
.margin-top30{margin-top:30px;}
.margin-bottom10{margin-bottom:10px;}
.margin-left5{margin-left:5px;}
.margin-left10{margin-left:10px;}
.margin-right10{margin-right:10px;}

.table-detail{font-size:12px;border: 1px solid #DDD;box-shadow: 0 0 1px #CCC;}
.table-detail th{padding:5px;font-size:14px;text-align:center;font-weight:bold;background:#94CF4F;}
.table-detail td{padding:5px;}

.h2{text-indent:12px;background:#33649B;color:#FFF;text-shadow: 1px 1px 1px #334964;width:100%;text-align:left;font-weight:bold;padding:15px 0;float:left;}
.h2 span{padding:12px;}
.table-detail .img-disp{padding:5px;background:#FFF;display:inline-block;float:left;}
.table-detail .img-disp img{width:200px;}
.table-kids{float:left; width:700px;font-size:15px;text-align:left;margin-left:50px;}
.table-kids td.label{font-weight:bold;}
.table-detail td{}
.required{color:Red;font-size:12px;}
#_lbl_password_checker{width:150px;display:block;text-indent:20px;float:left;font-weight:bold;}
.password-weak{color:Red;text-indent:20px;}
.password-strong{color:Green;text-indent:20px;}
.hidden-button{position:absolute;top:-1000px;}
#_panel_logout{display: inline-block;position:absolute;top:0;right:0;}
.h1-page-name{background:#777;width:100%;padding:15px 0;}
.h1-page-name span{width:1000px;text-align:left;font-weight:bold;color:#FFF;margin:0 auto;display:block;}
._panel_logout{float:left;}
._panel_logout .img-disp-thumb{float:left;}
._panel_logout .uname{float:left;margin-left:10px;font-weight:bold;}

.app-top-menu{float:left;width:100%;background:#3262A8;}
.app-top-menu .wrap{width:1000px;margin:0 auto;text-align:left;}
.app-top-menu ul{list-style:none;}
.app-top-menu ul li{float:left;padding:10px;}
.app-top-menu ul li a{float:left;padding:0 15px;text-decoration:none;color:#FFF;}

.table-no-border td{border:0 !important;}

.bold{font-weight:bold;}
.black{color:#000;}
.black{color:#000;}

.ans-box{width:100%;}

table.form{text-align:left;float:left;margin-left:20px;}
table.form tr td.label{width:200px;}
.text-alignment-right{text-align:right;}

.contactbox{float:right;width:48%;}
.contactbox .header{background:rgb(0,32,96);color:#FFF;font-weight:bold;line-height:40px;text-indent:10px;}
.contactbox .header-label{background:#CCC !important;color:#333 !important;font-weight:bold !important;line-height:50px !important;text-indent:10px !important;}
.contactbox ul.contact-list {float:left;list-style:none;padding:0;margin:0;}
.contactbox ul.contact-list li{width:100%;float:left;border-bottom:1px solid #CCC;}
.contactbox ul.contact-list li .warp{margin:15px;}
.contactbox .contactbox-img{margin-right:20px;width:60px;height:60px;}
.contactbox .contactbox-label{font-weight:bold;color:#333;font-size:16px;}

.bigCheckbox{width:15px;height:15px;}

.gvpaging a{
  margin:2px 2px;
    border-radius:50%;
      background-color:#444;
      padding:5px 10px 5px 10px;
      color:#fff;
      text-decoration:none;
      -o-box-shadow:1px 1px 1px #111;
      -moz-box-shadow:1px 1px 1px #111;
      -webkit-box-shadow:1px 1px 1px #111;
      box-shadow:1px 1px 1px #111;}
.gvpaging a:hover{background-color:#428bca;
    color:#fff;}
.gvpaging span{
    background-color:#428bca;
    color:#fff;
     -o-box-shadow:1px 1px 1px #111;
      -moz-box-shadow:1px 1px 1px #111;
      -webkit-box-shadow:1px 1px 1px #111;
      box-shadow:1px 1px 1px #111;

    border-radius:50%;
    padding:5px 10px 5px 10px;
}

.table-noborder tr td{border:0 !important;}
.table-bgalt tr:nth-child(odd){ background-color:#dff0d8; }
.table tr.highlight td, .table tr.highlight th{ background-color:#77CC77; }
.table-bgalt tr.header td{ background-color:#77CC77; color:#FFF; font-weight:bold; }
.table-bgalt tr th{background-color:#77CC77;color:#FFF;}
.table-bgalt tr:hover th{background-color:#77CC77 !important;color:#FFF !important;}
.start-color{color:#219FD1}
.font16{font-size:18px !important;}
.progress .progress-completed {font-weight: 800;padding: 3px 10px 2px;color:#333;}
.form-control{width:290px;}
.table-pad5 tr td{padding:5px;}
.xscroll{overflow-x:scroll;}
.img-loading-pos{position:fixed;top:30%;left:42%;z-index:1041;}
.modal-backdrop-udpn
{
	opacity: 0.5 !important;
	filter: alpha(opacity=50) !important;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;
}