body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', 'Trebuchet MS', arial, sans-serif;
  font-size: 14px;
}
.fontawesome-icon-list {
  margin-top: 3em;
  margin-bottom: 3em;
}
.fontawesome-icon-list > div {
  margin-bottom: 3em;
  text-align: center;
}
.fontawesome-icon-list > div a {
  display: block;
  color: #777;
}
.fontawesome-icon-list > div a:hover {
  color: #d74b4b;
  text-decoration: none;
}
.fontawesome-icon-list > div i {
  display: block;
  margin-bottom: 10px;
  font-size: 22px;
}
.valign-top {
  vertical-align: top !important;
}
.valign-middle {
  vertical-align: middle !important;
}
.valign-bottom {
  vertical-align: bottom !important;
}
.thumbnail-table .thumbnail {
  margin-bottom: 0;
}
.chart-bg {
  padding: 30px 30px 20px;
  background: #d74b4b;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.chart-bg .tickLabel {
  color: #fff;
}
.chart-bg-primary {
  background: #d74b4b;
}
.chart-bg-secondary {
  background: #6685a4;
}
.chart-bg-tertiary {
  background: #bcbcbc;
}
.chart-bg-success {
  background: #5cb85c;
}
.chart-bg-warning {
  background: #f0ad4e;
}
.chart-bg-danger {
  background: #d9534f;
}
.chart-bg-info {
  background: #5bc0de;
}
.row-stat {
  padding: 17px 13px 21px;
  margin-bottom: 1.25em;
  border: 1px solid #ddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.row-stat-label {
  color: #999;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}
.row-stat-value {
  display: inline-block;
  margin-right: .25em;
  margin-bottom: 0;
}
.row-stat-badge {
  position: relative;
  top: -3px;
  font-size: 85%;
}
.row-stat {
  position: relative;
}
.row-stat:after,
.row-stat:before {
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  bottom: -3px;
  left: 3px;
  right: 3px;
  background-color: #ffffff;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  border: 1px solid #ddd;
  border-top: 0;
}
.row-stat:before {
  bottom: -5px;
  left: 6px;
  right: 6px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: .75em;
  font-family: 'Oswald';
}
.list-group .list-group-item .list-group-chevron {
  float: right;
  margin-top: 5px;
  color: #bbb;
}
.list-group .list-group-item .badge {
  margin-top: 2px;
}
.list-group .list-group-item .list-group-chevron + .badge {
  margin-right: 10px;
}
.clear {
  clear: both;
}
.chart-holder,
.chart-holder-200,
.chart-holder-250 {
  width: 98%;
  margin: 0 auto;
}
.chart-holder {
  height: 300px;
}
.chart-holder-200 {
  height: 200px;
}
.chart-holder-250 {
  height: 250px;
}
.chart-holder-300 {
  height: 300px;
}
.chart-holder-350 {
  height: 350px;
}
.profile-avatar-img {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
/* !Badges */
/* ----------------------------------------------- */
.badge {
  font-weight: 600;
}
.badge-primary {
  background-color: #d74b4b;
}
.badge-secondary {
  background-color: #6685a4;
}
.badge-tertiary {
  background-color: #bcbcbc;
}
.badge-success {
  background-color: #5cb85c;
}
.badge-info {
  background-color: #5bc0de;
}
.badge-warning {
  background-color: #f0ad4e;
}
.badge-danger {
  background-color: #d9534f;
}

/* !Back to Top */
/* ----------------------------------------------- */
#back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1001;
  width: 30px;
  height: 30px;
  display: block;
  background: #2f4354;
  background-color: rgba(47, 67, 84, 0.85);
  font-size: 13px;
  text-align: center;
  line-height: 30px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  cursor: pointer;
  transition: background 0.25s linear;
}
#back-to-top:hover {
  text-decoration: none;
  background-color: #d74b4b;
  background-color: rgba(215, 75, 75, 0.85);
}
#back-to-top i {
  color: #fff;
}
@media (min-width: 768px) {
  #back-to-top {
    width: 45px;
    height: 45px;
    font-size: 16px;
    line-height: 45px;
  }
}
/* !Navbar */
/* ----------------------------------------------- */
.navbar-inverse
        {
            margin-bottom: 0;
            background-color: #2f4354;
            background-image: -webkit-linear-gradient(top, #425d75 0%, #2f4354 100%);
            background-image: linear-gradient(to bottom, #425d75 0%, #2f4354 100%);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff425d75', endColorstr='#ff2f4354', GradientType=0);
            filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
            border: none;
            border-bottom: 1px solid #141c23;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #141c23;
}
.navbar-collapse.in {
  max-height: none;
  overflow-y: visible;
}
.navbar-inverse .navbar-brand {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-inverse .navbar-brand:hover {
  color: #fff;
  background-color: #2c3e4e;
}
.navbar-inverse .navbar-brand-img {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-inverse .navbar-toggle {
  padding: 0 18px;
  margin: 0;
  height: 60px;
  color: #fff;
  color: #6f91ae;
  font-size: 17px;
  text-align: center;
  line-height: 60px;
  border: none;
  outline: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.navbar-inverse .navbar-toggle:active,
.navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-inverse .navbar-toggle:hover {
  color: #547795;
  background-color: #3b5368;
}
.navbar-inverse .navbar-toggle.is-open {
  color: #fff;
  background-color: #3b5368;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
/*.navbar-inverse .navbar-nav > li > a:hover {
  background-color: #2c3e4e;
}*/
.navbar-inverse .navbar-nav > li.active > a,
.navbar-inverse .navbar-nav > li.active > a:hover,
.navbar-inverse .navbar-nav > li.active > a:active,
.navbar-inverse .navbar-nav > li.active > a:focus {
  background-color: #2c3e4e;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: rgba(255, 255, 255, 0.00);
}
.navbar-inverse .navbar-nav > .navbar-profile > a {
  height: 60px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 60px;
}
.navbar-profile-avatar {
  position: relative;
  top: -1px;
  width: 30px;
  margin-right: .65em;
  border: 2px solid #B8BDBC;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.navbar-profile-label {
  display: inline;
  font-size: 13px;
}
.navbar-profile-label-visible {
  display: inline !important;
}
@media (min-width: 768px) {
  .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar-profile-label {
    display: none;
  }
  .navbar-inverse .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
}
.navbar-visible-collapsed {
  display: inline;
  color: #fff;
}
@media (min-width: 768px) {
  .navbar-visible-collapsed {
    display: none;
  }
  .navbar-collapse .navbar-nav.navbar-left:first-child {
    margin-left: 0;
  }
  .navbar .dropdown-menu:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    position: absolute;
    top: -7px;
    left: 9px;
  }
  .navbar-right .dropdown-menu:before {
    right: 9px;
    left: auto;
  }
}
.mainnav {
  position: relative;
  margin-bottom: 40px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
.mainnav-toggle {
  display: block;
  padding: 12px 0;
  color: #d74b4b;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}
.mainnav-toggle:hover {
  color: #d13232;
}
.mainnav-form {
  position: relative;
}
.mainnav-form-btn {
  position: absolute;
  top: 17px;
  right: 2px;
  color: #d74b4b;
  background-color: transparent;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.mainnav-form-btn:hover {
  color: #9a2222;
}
.mainnav-menu {
  padding: 0;
  margin: 0 -15px;
  list-style-type: none;
}
.mainnav-menu > li {
  position: relative;
}
.mainnav-menu > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #999;
  font-weight: 600;
}
.mainnav-menu > li > a:hover {
  text-decoration: none;
  background-color: #eee;
}
.mainnav-menu > li > a,
.mainnav-menu > li > a:hover,
.mainnav-menu > li > a:focus {
  text-decoration: none;
}
.mainnav-menu > li.open > a,
.mainnav-menu > li.open > a:hover,
.mainnav-menu > li.open > a:focus {
  color: #555;
  background-color: #f4f4f4;
  border-bottom-color: transparent;
}
.mainnav-menu .mainnav-caret:before {
  display: inline-block;
  position: relative;
  top: -1px;
  margin-left: .25em;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  content: "\f0d7";
  -webkit-font-smoothing: antialiased;
}
.mainnav-menu > li.active > a,
.mainnav-menu > li.active > a:hover,
.mainnav-menu > li.active > a:focus {
  color: #d74b4b;
  border-bottom-color: #d74b4b;
}
/*.mainnav:after {
  content: '';
  position: absolute;
  top: 100%;
  z-index: -1;
  width: 100%;
  height: 50px;
  margin-top: 2px;
  background-image: -webkit-linear-gradient(top, #f2f2f2 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #f2f2f2 0%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffffffff', GradientType=0);
}*/
.mainnav .dropdown-menu {
  min-width: 200px;
}
@media (min-width: 768px) {
  .mainnav-toggle {
    display: none;
  }
  .mainnav-collapse {
    width: auto;
    padding-right: 0;
    padding-left: 0;
    border-top: 0;
    box-shadow: none;
  }
  .mainnav-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .mainnav-form {
    margin-top: 20px;
  }
  .mainnav-search-query {
    width: 120px;
  }
  .mainnav-form-btn {
    top: 2px;
  }
  .mainnav-menu {
    margin-left: -15px;
  }
  .mainnav-menu > li {
    float: left;
    margin-right: 0;
  }
  .mainnav-menu > li > a {
    padding: 21px 15px;
    font-size: 14px;
    letter-spacing: -1px;
    border-bottom: 1px solid transparent;
  }
  .mainnav-menu > li > a:hover {
    background-color: #f3f3f3;
  }
  .mainnav-menu > li.active > a {
    border-bottom-color: #d23636;
  }
  .mainnav-menu > li.is-open > a {
    background-color: transparent;
  }
  .mainnav-menu .mainnav-caret {
    font-size: 13px;
  }
  .mainnav-menu > li > .dropdown-menu {
    top: 97%;
    border-color: #ccc;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .mainnav-menu > li > .dropdown-menu:before,
  .mainnav-menu > li > .dropdown-menu:after {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -7px;
    left: 9px;
  }
  .mainnav-menu > li > .dropdown-menu:after {
    border-left-width: 6px;
    border-right-width: 6px;
    border-bottom-width: 6px;
    border-bottom-color: #fff;
    top: -6px;
    left: 10px;
  }
}
@media (min-width: 992px) {
  .mainnav-search-query {
    width: auto;
  }
  .mainnav-menu > li {
    margin-right: 10px;
  }
  .mainnav-menu > li > a {
    font-size: 20px;
  }
  .mainnav-menu .mainnav-caret {
    top: -2px;
    font-size: 18px;
  }
  .lt-ie9 .mainnav-menu > li > a {
    font-size: 16px;
  }
  .lt-ie9 .mainnav-menu .mainnav-caret {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .mainnav-menu > li.is-open .dropdown-menu {
    display: block !important;
  }
  .mainnav-menu .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .mainnav-menu .dropdown-menu > li > a {
    padding-left: 25px;
  }
  .mainnav-form {
    float: none !important;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
}
/* !Footer */
/* ----------------------------------------------- */
.footer {
  color: #fff;
  line-height: 59px;
  background-color: #2f4354;
  border-top: 1px solid #ddd;
}
.footer:before,
.footer:after {
  content: " ";
  display: table;
}
.footer:after {
  clear: both;
}
.footer p {
  margin-bottom: 0;
}
.footer a {
  color: #a0b6c9;
}
/* !Sticky Footer */
/* ----------------------------------------------- */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */

}
/* Wrapper for page content to push down footer */
#wrapper {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */

  margin: 0 auto -60px;
  /* Pad bottom by footer height */

  padding: 0 0 60px;
}
/* Set the fixed height of the footer here */
.footer {
  height: 60px;
}
/* !Layout */
/* ----------------------------------------------- */
/* !Notice Bar */
/* ----------------------------------------------- */
.navbar-inverse .noticebar > li > a {
  color: #547795;
  font-size: 14px;
}
.navbar-inverse .noticebar > li > a .badge {
  
  font-size: 11px;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}
.navbar-inverse .noticebar > li > a:hover {
  color: #547795;
}
.noticebar-empty {
  padding: 25px 35px !important;
  text-align: center;
}
.noticebar-empty-title {
  color: #d74b4b;
}
.noticebar-empty-text {
  color: #777;
}
.noticebar-menu {
  width: 325px;
}
.noticebar-menu .nav-header {
  padding: 6px 12px;
  font-size: 13px;
  font-weight: 600;
}
.noticebar-menu .nav-header a {
  font-weight: 400;
}
.noticebar-menu > li {
  display: table;
  width: 100%;
  padding: 0;
  margin-right: 0;
  margin-left: 0;
  border-bottom: 1px dotted #ccc;
}
.noticebar-menu > li:last-child {
  border-bottom: none;
}
.noticebar-menu > li > a {
  padding: 8px 12px;
  font-size: 12px;
  white-space: normal;
}
.noticebar-menu > li > a:hover {
  color: #333;
  background-color: transparent;
}
.noticebar-menu:before,
.noticebar-menu:after {
  display: none !important;
}
.noticebar-menu-view-all {
  text-align: center;
}
.noticebar-hoverable > li > a:hover {
  color: #333;
  background-color: #edf0f4;
}
.noticebar-item-image,
.noticebar-item-body {
  display: table-cell;
  vertical-align: middle;
}
.noticebar-item-image {
  width: 36px;
  font-size: 30px;
  text-align: center;
}
.noticebar-item-body {
  padding-left: 20px;
}
.noticebar-item-title {
  display: block;
}
.noticebar-item-time {
  display: block;
  color: #777;
}
@media (min-width: 768px) {
  .navbar-inverse .noticebar > li > a {
    height: 60px;
    padding-bottom: 0;
    font-size: 19px;
    line-height: 60px;
  }
  .navbar-inverse .noticebar > li > a .badge {
    position: absolute;
    top: 6px;
    right: 3px;
  }
  .navbar-inverse .noticebar > .open > a:after {
    content: '';
    position: relative;
    z-index: 1001;
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    position: absolute;
    bottom: -2px;
    left: 50%;
    margin-left: -7px;
  }
}
@media (max-width: 768px) {
  .noticebar-menu {
    display: none !important;
  }
}
/* !Account Layout */
/* ----------------------------------------------- */
.account-bg {
  background-color: #eee;
}
.account-wrapper {
  position: relative;
  width: 90%;
  padding: 35px 0;
  margin: 0 auto;
  text-align: center;
}
.account-wrapper .row > div {
  margin-bottom: 1em;
}
.account-form {
  padding: 0;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: left;
}
.account-form .placeholder-hidden {
  display: none;
}
.account-form .form-control {
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 1.25em;
}
.account-body {
  position: relative;
  padding: 35px 30px 10px;
  margin-bottom: 1em;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}
.account-footer {
  padding: 0 25px;
  margin-top: 1.5em;
}
.account-or-social {
  display: block;
  margin-top: 1em;
}
@media (min-width: 768px) {
  .account-wrapper {
    width: 450px;
    padding: 60px 0;
  }
  .account-wrapper .row > div {
    margin-bottom: 0;
  }
  .account-body .account-form {
    padding: 0 25px;
    text-align: left;
  }
  .account-or-social {
    margin-top: 2em;
  }
}
/* !Error Layouts */
/* ----------------------------------------------- */
.error-container {
  margin-top: 1em;
  text-align: center;
}
.error-code {
  display: inline-block;
  vertical-align: top;
  font-family: 'Oswald';
  font-size: 100px;
  font-weight: 500;
  line-height: .7em;
}
.error-details {
  display: inline-block;
  vertical-align: top;
  margin-top: 4em;
}
.error-details ul {
  text-align: left;
}
@media (min-width: 768px) {
  .error-container {
    margin-top: 2.5em;
  }
  .error-details {
    width: 250px;
    margin-top: 0;
    margin-left: 25px;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .error-container {
    margin-top: 5em;
  }
  .error-code {
    font-size: 150px;
  }
  .error-details {
    width: 350px;
    margin-left: 50px;
  }
}
