<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <connectionStrings>
    <add name="LinkDatabaseEntities" connectionString="metadata=res://*/LinkDatabase.csdl|res://*/LinkDatabase.ssdl|res://*/LinkDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.127.3.4,1444;initial catalog=SNA_DEV_001;persist security info=True;user ID=inetsa;password=!erpNca#5;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FocusoneDatabaseEntities" connectionString="metadata=res://*/FocusoneDatabase.csdl|res://*/FocusoneDatabase.ssdl|res://*/FocusoneDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.127.3.4,1444;initial catalog=INET_PRD;user ID=inetsa;password=!erpNca#5;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SNAModelEntities" connectionString="metadata=res://*/SNADB.csdl|res://*/SNADB.ssdl|res://*/SNADB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.127.3.4,1444;Initial Catalog=SNA_DEV_001;User ID=inetsa;Password=!erpNca#5;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="FocusOneEntities" connectionString="metadata=res://*/FocusOneDB.csdl|res://*/FocusOneDB.ssdl|res://*/FocusOneDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.127.3.4,1444;Initial Catalog=INET_PRD;User ID=inetsa;Password=!erpNca#5;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="SNAConnectionString" connectionString="Provider=SQLOLEDB.1;Password=!erpNca#5;Persist Security Info=True;User ID=inetsa;Initial Catalog=INET_PRD;Data Source=10.127.3.4,1444" />
    <add name="FocusoneConnectionString" connectionString="Provider=SQLOLEDB.1;Password=!erpNca#5;Persist Security Info=True;User ID=inetsa;Initial Catalog=INET_PRD;Data Source=10.127.3.4,1444" />
    <add name="ASServiceConnectionString" connectionString="Provider=SQLOLEDB.1;Password=!erpNca#5;Persist Security Info=True;User ID=inetsa;Initial Catalog=INET_PRD;Data Source=10.127.3.4,1444" />

    <add name="QuartzConnectionString" connectionString="Password=!erpNca#5;Persist Security Info=True;User ID=inetsa;Initial Catalog=INET_PRD;Data Source=10.127.3.4,1444"/>
  </connectionStrings>
  <appSettings>
    <add key="RECURR_SID" value="555"/>
    <add key="RECURR_COMPANY_CODE" value="INET"/>
    <add key="SNAWeb_ICMUtils_ICMUtils" value="http://203.150.93.66:7898/Utils/ICMUtils.asmx" />
    <add key="SNAWeb_LINKCloudService_LINKCloudService" value="http://203.150.93.66:6300/Service/LINKCloudService.asmx" />
    <add key="SNAWeb_UserLoginService_UserLoginService" value="http://203.150.93.66:7898/UserLoginService.asmx" />
    <add key="RECURR_EMAIL_OUTPUTPATH_abd" value="C:\\ake\\temp\\"/>
    <add key="RECURR_EMAIL_OUTPUTPATH" value=" C:\\50_LongtailCRM\\repository\\001\\SNA Project\\SNAWeb\\Upload_email\\"/>

    <add key="RECURR_EMAIL_OUTPUTPATH_ATTACH" value="C:\\LINK Private 001\\LinkWeb\\Upload_email\\attach\\"/>
    <add key="RECURR_EMAIL_OUTPUTURL_ATTACH" value="/Upload_email/attach/"/>
    
    <add key="TierZero_APIAddress" value="http://localhost:8079/" />
    <add key="TicketReplyMail_APIPath" value="API/ReplyEmailToPostCommentAPI.aspx" />
    <add key="TierZero_APIPath" value="API/TierZeroStructureAPI.aspx" />
    <add key="TierZero_PermissionKey" value="84059aef7f83423fa6b604d6a11608" />
  </appSettings>

</configuration>
