@font-face {
    font-family: THKodchasal;
    src: url("/framework/fonts/THKodchasal/TH Kodchasal Bold.ttf") format('truetype');
}

*{
    
    font-family:Helvetica, Arial, sans-serif;
}
.prompt{
    font-family: 'Prompt',Helvetica, Arial, sans-serif;
}

.navbar-custom .nav li a{
    font-size:14px;
    font-weight:500;
}

p{
    margin:0;
    margin-bottom:10px;
}

body {
    background: #eee;
    font-size: 14px;
}

body,html{
    height:auto;
}

.navbar-custom {
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    transition: background-color .3s;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #FDFDFD;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav li a {
    color: #333;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:active,
.navbar-custom .nav li a:focus,
a {
    color: #337AB7;
}

a:hover,
a:focus,
a:active{
    color:#0B71B9;
    text-decoration:none;
    box-shadow:none!important;
    outline:none!important;
}

.position-relative{
    position:relative;
}

.profile-toggle{
    display:inline;
    float:left;
    margin-top:-7px;
}

.profile-toggle .image-box{
    width:35px;
    height:35px;
    background-color:#f7f7f7;
}

.navbar-custom .nav .dropdown-menu li a{
    padding:5px 15px; 
}

.hand{
    cursor:pointer;
}


.panel > .panel-body.mat-box {
    margin-bottom: 0;
}

.panel > .panel-footer {
    background: #2C3E50;
    color: #fff;
}

.panel {
    border-color: #ddd !important;
}

    .panel .panel-footer,
    .panel .panel-heading {
        background: #2C3E50;
        color: #fff;
        border: none;
    }

    .panel .panel-body {
        background: #fff;
    }

    .panel .panel-heading {
        border-radius: 0;
    }

    .panel .panel-footer {
        border-radius: 0;
        border-top: 1px solid #ccc;
    }

    .panel.panel-success > .panel-heading {
        background: #009688;
        border-color: #1aa98d;
    }

    .panel.panel-primary > .panel-heading {
        background: #337AB7;
        border-color: #3082b7;
    }

    .panel.panel-warning > .panel-heading {
        background: #F1C513;
        border-color: #d7b016;
    }

    .panel.panel-danger > .panel-heading {
        background: #E65041;
        border-color: #cc4437;
    }

    .panel.panel-info > .panel-heading {
        background: #4DD0E1;
        border-color: #029cd7;
    }

    .panel.panel-default > .panel-heading {
        background: #F9F9F9;
        border-color: #424242;
        color: #333;
    }


.btn {
    border-radius: 0;
    text-transform:none;
    border: 0;
    transition: .2s ease-out;
    color: #fff;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
}
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
}

.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger{
    box-shadow:none;
}
/*.pagination, .btn, .pager li a {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}*/

.z-depth-1-half {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}



.btn:hover {
    color: #fff;
}

.btn:active, .btn:focus, .btn.active {
    outline: 0;
    color: #fff;
}

.btn.disabled, .btn[disabled]{
    cursor:not-allowed;
}

.btn .fa {
    margin-top: 3px;
}

.btn .fa.right {
    margin-left: 3px;
}

.btn .fa.left {
    margin-right: 3px;
}

.btn-group .btn {
    margin: 0;
}

.btn-secondary {
    background-color: #aa66cc;
}

.btn-secondary:hover, .btn-secondary:focus {
    background-color: #b579d2 !important;
    color: #fff;
}

.btn-secondary.active {
    background-color: #773399 !important;
}

.btn-secondary.active:hover {
    color: #fff;
}

.btn-secondary.active:focus {
    color: #fff;
}

.btn-secondary.dropdown-toggle {
    color: #fff !important;
    background-color: #aa66cc !important;
}

.btn-secondary.dropdown-toggle:hover {
    color: #fff;
    background-color: #b579d2 !important;
}

.btn-secondary.dropdown-toggle:focus {
    color: #fff;
    background-color: #aa66cc;
}

.btn-secondary:active:hover {
    background-color: #b579d2 !important;
    color: #fff;
}

.btn-primary {
    background: #337AB7;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #0B71B9 !important;
}

.btn-primary.active {
    background-color: #016a80 !important;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: rgba(0, 133, 161, 0.9);
    border-color: none;
}

.btn-default {
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    color:#333;
}
.btn-default:hover, .btn-default:focus,
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color:#333;
}

.btn-default.active {
    color:#333;
}

/*.btn-default {
    background: #575757;
}

.btn-default:hover, .btn-default:focus,
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    background-color: #6d6c6c !important;
    color:#fff;
}

.btn-default.active {
    background-color: #4e4c4c !important;
    color:#fff;
}*/

.btn-success {
    background: #009688;
}

.btn-success:hover, .btn-success:focus {
    background-color: #04ac9c !important;
}

.btn-success.active {
    background-color: #038276 !important;
}
.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active {
    background-color: rgba(0, 150, 136, 0.9);
    border-color: none;
}

.btn-info {
    background: #35c8ff;
}

.btn-info:hover, .btn-info:focus {
    background-color: #54d0ff !important;
}

.btn-info.active {
    background-color: #2eb1e2 !important;
}
.btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info[disabled].active, fieldset[disabled] .btn-info.active {
    background-color: rgba(53, 200, 255, 0.9);
    border-color: none;
}


.btn-warning {
    background: #F1C513;
}

.btn-warning:hover, .btn-warning:focus {
    background-color: #ffd21c !important;
}

.btn-warning.active {
    background-color: #deb612 !important;
}
.btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning.active {
    background-color: rgba(241, 197, 19, 0.9);
    border-color: none;
}

.btn-danger {
    background: #E65041;
}

.btn-danger:hover, .btn-danger:focus {
    background-color: #fa5949 !important;
}

.btn-danger.active {
    background-color: #d0483b !important;
}
.btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, .btn-danger.disabled.active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger.active {
    background-color: rgba(230, 80, 65, 0.9);
    border-color: none;
}

.btn-link {
    background-color: transparent;
    color: #000;
}

    .btn-link:hover, .btn-link:focus {
        background-color: transparent;
        color: #000;
    }

.btn-primary-outline {
    border: 2px solid #4285F4;
    color: #0d47a1;
}

    .btn-primary-outline:hover, .btn-primary-outline:focus {
        background-color: transparent;
        color: #4285F4;
    }

    .btn-secondary-outline {
        border: 2px solid #aa66cc;
        color: #9933CC;
    }

    .btn-secondary-outline:hover, .btn-secondary-outline:focus {
        background-color: transparent;
        color: #aa66cc;
        border: 2px solid #aa66cc;
    }

.btn-default-outline {
    background-color: transparent;
    border: 2px solid #2BBBAD;
    color: #00695c;
}

    .btn-default-outline:hover, .btn-default-outline:focus {
        background-color: transparent;
        color: #2BBBAD;
    }

.btn-success-outline {
    border: 2px solid #04ac9c;
    color: #007E33;
}

    .btn-success-outline:hover, .btn-success-outline:focus {
        background-color: transparent;
        color: #04ac9c;
    }

.btn-info-outline {
    border: 2px solid #33b5e5;
    color: #0099CC;
}

    .btn-info-outline:hover, .btn-info-outline:focus {
        background-color: transparent;
        color: #33b5e5;
    }

.btn-warning-outline {
    border: 2px solid #ffbb33;
    color: #FF8800;
}

    .btn-warning-outline:hover, .btn-warning-outline:focus {
        background-color: transparent;
        color: #ffbb33;
    }

.btn-danger-outline {
    border: 2px solid #ff4444;
    color: #CC0000;
}

    .btn-danger-outline:hover, .btn-danger-outline:focus {
        background-color: transparent;
        color: #ff4444;
    }



.mat-box{
    border-radius: 5px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    background:#fff;
    padding:15px;
    margin-bottom:10px;
}

.z-depth-0 {
    box-shadow: none !important;
    border:none !important;
}

.z-depth {
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

.z-depth-1{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.z-depth-1-half{
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.z-depth-2 {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-3 {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-4 {
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.z-depth-5 {
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}




.pagination > li > a, .pagination > li > span {
    color: #009688;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #009688;
    border-color: #009688;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #555;
    background-color: transparent;
}

.select-image {
    position: relative;
    padding-left: 25px;
    display: inline;
}

    .select-image img {
        height: 16px;
        float: left;
    }

    .select-image .image-box {
        height: 20px;
        width: 20px;
        background-position: center center;
        position: absolute;
        left: 0;
        top: -2px;
        border-radius: 50%;
    }



.modal .modal-header {
    background: #337AB7;
    color: #fff;
    border-radius: 0;
}
.modal .modal-header .close{
    color: #eee!important;
    opacity: 0.8;
}

.modal .modal-content {
    border-radius: 0;
}

.row{
    margin-bottom:10px;
}
* .row:last-child{
    margin-bottom:0;
}

.text-default{
    color:#575757!important;
}
.text-primary{
    color:#337AB7!important;
}
.text-success{
    color:#04AC9C!important;
}
.text-info{
    color:#35C8FF!important;
}
.text-warning{
    color:#F1C513!important;
}
.text-danger{
    color:#E65041!important;
}

.alert-success{
    color:#04AC9C!important;
}
.alert-primary{
    color:#337AB7!important;
}
.alert-warning{
    color:#F1C513!important;
}
.alert-danger{
    color:#E65041!important;
}

.table-ag tr th{
    background:#337AB7;
    color:#fff;
}

.row {
    margin-left: -7px;
    margin-right: -7px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 7px;
    padding-right: 7px;
}


.image-box{
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    border-radius: 5px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

.circle{
    border-radius:50%;
}

.one-line{
    overflow-x:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.two-line {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
}
.three-line {
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
}
.four-line {
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
}

 .datetimepicker .table-condensed{
    width:250px;
}

.top-space{
    padding-top:75px;
}
.navbar{
    z-index:100;
}
.line{
    margin-bottom:10px;
}
.text-muted{
    color:#aaa!important;
}
.section-ul{
    border-bottom:1px solid #ccc;
    margin-bottom:15px;
    padding-bottom:8px;
}
@media(max-width:768px){
    .container{
        padding:0 5px;
    }
}



.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
.btn-group.open .dropdown-submenu .dropdown-toggle {
    -webkit-box-shadow: none;
     box-shadow: none; 
}

.fa-table-command{
    color: #337AB7!important;
    cursor:pointer;
    width: 25px;
    text-align: center;
    text-decoration:none;
}

/* Master Data Page */

.blue-require-style {
    border-left: 3px solid #9FA8DA;
}

.master-data-container {
    margin: 0;
}

.master-data-header {
    background: #fff;
    height: 57px;
    overflow: hidden;
    padding: 7px 20px;
    border-bottom: 1px solid #ddd;
    position:relative;
}

.master-data-header-nav {
    font-size: 12px;
}

.master-data-header-nav .fa-arrow-right {
    margin: 0 5px;
}

.master-data-header-title {
    color: #1ABC9C;
    font-weight: 600;
    font-size: 20px;
    text-transform:uppercase;
}

.master-data-content {
    padding: 15px 20px;
}

@media(min-width:768px) {
    .master-data-container {
        margin: -15px;
        margin-bottom: 0;
    }
}

.bg-white{
    background:#fff;
}
.bg-grey{
    background:#f7f7f7;
}

.master-data-nav-menu {
    display: inline-block;
    float:right;
    position:absolute;
    right:0;
    top:0;
    bottom:0;
}

.master-data-nav-menu .master-data-nav-menu-item {
    padding: 18px;
    color: #333;
    display: inline-block;
    cursor: pointer;
    margin: 0;
    position: relative;
    /*background:#fcfcfc;*/
    font-weight:600;
}

.master-data-nav-menu .master-data-nav-menu-item .fa-caret-up {
    display: none;
    font-size: 25px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -9px;
    text-align: center;
    color: #FDFDFD;
}

.master-data-nav-menu .master-data-nav-menu-item:hover {
    background: #eee;
    color: #1ABC9C;
}

.master-data-nav-menu .master-data-nav-menu-item.active {
    background: #1ABC9C;
    color: #fff;
}


.master-data-nav-menu .master-data-nav-menu-item.active .fa-caret-up {
    display: initial;
}

.master-data-nav-menu .master-data-nav-menu-item.danger {
    background-color: #D9534F;
    background-image: -webkit-linear-gradient(top,#D9534F,#c23531);
    background-image: -moz-linear-gradient(top,#D9534F,#c23531);
    box-shadow: inset 0px 1px 2px rgba(0,0,0,.2);
    color: #fff;
}

.master-data-nav-menu .master-data-nav-menu-item.danger:hover {
    box-shadow: inset 0px 1px 5px rgba(0,0,0,.3);
    opacity: 0.8;
}

.master-data-nav-menu .master-data-nav-menu-item.primary {
    background-color: #D9534F;
    background-image: -webkit-linear-gradient(top,#0096b6,#01667c);
    background-image: -moz-linear-gradient(top,#0096b6,#01667c);
    box-shadow: inset 0px 1px 2px rgba(0,0,0,.2);
    color: #fff;
}

.master-data-nav-menu .master-data-nav-menu-item.primary:hover {
    box-shadow: inset 0px 1px 5px rgba(0,0,0,.3);
    opacity: 0.8;
}

.master-data-nav-menu .master-data-nav-menu-item.success {
    background-color: #D9534F;
    background-image: -webkit-linear-gradient(top,#1ABC9C,#18a88b);
    background-image: -moz-linear-gradient(top,#1ABC9C,#18a88b);
    box-shadow: inset 0px 1px 2px rgba(0,0,0,.2);
    color: #fff;
}

.master-data-nav-menu .master-data-nav-menu-item.success:hover {
    box-shadow: inset 0px 1px 5px rgba(0,0,0,.3);
    opacity: 0.8;
}

.master-data-container .table{
    font-size:12px;
    background:#fff;
    margin-bottom:0;
}
.master-data-container .table tr:first-of-type th{
    text-transform:uppercase;
    background: #f3f3f3;
    color: #333;
    border: 1px solid #ddd;
    border-top: none;
    font-weight: 700;
    background-image: -webkit-linear-gradient(top,#fefefe,#f3f3f3);
    background-image: -moz-linear-gradient(top,#fefefe,#f3f3f3);
}

.sa-button-container .confirm{
    background-color: #337AB7!important;
}
.sa-button-container .cancel{
    background-color: #E65041!important;
}