<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="SNAWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="LongtailWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="LinkDatabaseEntities" connectionString="metadata=res://*/LinkDatabase.csdl|res://*/LinkDatabase.ssdl|res://*/LinkDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data Source=203.150.93.66,1533;initial catalog=SNA_DEV_001;persist security info=True;user ID=link;password=2559link1q;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
		<add name="FocusoneDatabaseEntities" connectionString="metadata=res://*/FocusoneDatabase.csdl|res://*/FocusoneDatabase.ssdl|res://*/FocusoneDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data Source=203.150.93.66,1533;initial catalog=INET_DEMO;user ID=link;password=2559link1q;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
		<add name="SNAModelEntities" connectionString="metadata=res://*/SNADB.csdl|res://*/SNADB.ssdl|res://*/SNADB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=203.150.93.66,1533;Initial Catalog=SNA_DEV_001;User ID=link;Password=2559link1q;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
		<add name="FocusOneEntities" connectionString="metadata=res://*/FocusOneDB.csdl|res://*/FocusOneDB.ssdl|res://*/FocusOneDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=203.150.93.66,1533;Initial Catalog=INET_DEMO;User ID=link;Password=2559link1q;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
		<add name="SNAConnectionString" connectionString="Provider=SQLOLEDB.1;Password=2559link1q;Persist Security Info=True;User ID=link;Initial Catalog=SNA_DEV_001;Data Source=203.150.93.66,1533"/>
		<add name="FocusoneConnectionString" connectionString="Provider=SQLOLEDB.1;Password=2559link1q;Persist Security Info=True;User ID=link;Initial Catalog=INET_DEMO;Data Source=203.150.93.66,1533"/>
		<add name="ASServiceConnectionString" connectionString="Provider=SQLOLEDB.1;Password=2559link1q;Persist Security Info=True;User ID=link;Initial Catalog=asserver_db;Data Source=203.150.93.66,1533"/>
	</connectionStrings>
	<appSettings>
		<add key="databaseBrand" value="MSSQL"/>
		<add key="databaseDriver" value="{SQL Server}"/>
		<add key="databaseServer" value="203.150.93.66,1533"/>
		<add key="databaseName" value="INET_DEMO"/>
		<add key="databaseSNAName" value="SNA_DEV_001"/>
		<add key="databasePort" value=""/>
		<add key="databaseUser" value="link"/>
		<add key="databasePassword" value="2559link1q"/>
		<add key="SystemMode" value="Link"/>
		<add key="isprivate" value="false"/>
    <add key="isdeveloper" value="true"/>
    <add key="SNAWeb_ICMUtils_ICMUtils" value="http://203.150.93.66:7898/Utils/ICMUtils.asmx" />
    <add key="SNAWeb_LINKCloudService_LINKCloudService" value="http://203.150.93.66:6300/Service/LINKCloudService.asmx" />
    <add key="SNAWeb_UserLoginService_UserLoginService" value="http://203.150.93.66:7898/UserLoginService.asmx" />
    <add key="POS_API" value="http://posapi.focusonesoftware.com" />
	
    <add key="ERPW_ICMUtils" value="http://203.150.93.66:7898/Utils/ICMUtils.asmx" />
    <add key="ERPW_UserLoginService" value="http://203.150.93.66:7898/UserLoginService.asmx" />
    <add key="ERPW_ChangePwdService" value="http://203.150.93.66:7898/ChangePwdService.asmx" />
   
    <add key="SID" value="555" />
    <add key="COMPANY" value="INET" />
    <add key="USE_AUTH" value="false" />

    <add key="SHOW_ERP_PORTAL" value="true"/>
    <add key="PRIVATE-SID" value="555"/>
	</appSettings>
	<system.web>
		<customErrors mode="RemoteOnly"/>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
				<add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/></assemblies>
		</compilation>
		<httpRuntime requestValidationMode="2.0" maxRequestLength="2097151" executionTimeout="3600"/>
		 <sessionState timeout="240"></sessionState>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
		</authentication>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, &#xA;             Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</controls>
		</pages>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
			<add verb="POST" path="DefaultChannel.ashx" type="Server.Channels.DefaultChannelHandler, SNAWeb"/>
			<add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, &#xA;           System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, &#xA;           PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type = "Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <!--<add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>-->
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpModules>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<!--<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</modules>-->
		<handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <!--<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>-->
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1073741824"/>
			</requestFiltering>
		</security>
	</system.webServer>
	<applicationSettings>
		<SNAWeb.Properties.Settings>
			<setting name="SNAWeb_ICMUtils_ICMUtils" serializeAs="String">
				<value>http://203.150.93.66:7898/Utils/ICMUtils.asmx</value>
			</setting>
			<setting name="SNAWeb_UserLoginService_UserLoginService" serializeAs="String">
				<value>http://203.150.93.66:7898/UserLoginService.asmx</value>
			</setting>
			<setting name="SNAWeb_ChangePwdService_ChangePwdService" serializeAs="String">
				<value>http://203.150.93.66:7898/ChangePwdService.asmx</value>
			</setting>
			<setting name="SNAWeb_WebReference_ASService" serializeAs="String">
				<value>http://61.19.247.82:8077/ASService.svc</value>
			</setting>
			<setting name="SNAWeb_MessageService_ASService" serializeAs="String">
				<value>http://61.19.247.82:8077/ASService.svc</value>
			</setting>
			<setting name="SNAWeb_WRLinkService_LinkService" serializeAs="String">
				<value>http://61.19.247.82:5000/LinkService.svc</value>
			</setting>
			<setting name="SNAWeb_LINKCloudService_LINKCloudService" serializeAs="String">
				<value>http://202.170.123.222:7300/Service/LINKCloudService.asmx</value>
			</setting>
		</SNAWeb.Properties.Settings>
		<LongtailWeb.Properties.Settings>
			<setting name="LongtailWeb_ICMUtils_ICMUtils" serializeAs="String">
				<value>http://202.170.123.222:7298/Utils/ICMUtils.asmx</value>
			</setting>
		</LongtailWeb.Properties.Settings>
	</applicationSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
    <dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="Server.Channels.ChatServiceAspNetAjaxBehavior">
					<enableWebScript/>
				</behavior>
				<behavior name="SNAWeb.TimeAttendance.EasyActivityAspNetAjaxBehavior">
					<enableWebScript/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
		<services>
			<service name="Server.Channels.ChatService">
				<endpoint address="" behaviorConfiguration="Server.Channels.ChatServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Server.Channels.ChatService"/>
			</service>
			<service name="SNAWeb.TimeAttendance.EasyActivity">
				<endpoint address="" behaviorConfiguration="SNAWeb.TimeAttendance.EasyActivityAspNetAjaxBehavior" binding="webHttpBinding" contract="SNAWeb.TimeAttendance.EasyActivity"/>
			</service>
		</services>
		<bindings>
			<basicHttpBinding>
				<binding name="ICMUtilsSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="20000000" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="20000000" maxArrayLength="20000000" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
				<binding name="UserLoginServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="20000000" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="20000000" maxArrayLength="20000000" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://202.170.123.222:7298/Utils/ICMUtils.asmx" binding="basicHttpBinding" bindingConfiguration="ICMUtilsSoap" contract="ICMService.ICMUtilsSoap" name="ICMUtilsSoap"/>
			<endpoint address="http://202.170.123.222:7298/UserLoginService.asmx" binding="basicHttpBinding" bindingConfiguration="UserLoginServiceSoap" contract="UserLoginService.UserLoginServiceSoap" name="UserLoginServiceSoap"/>
		</client>
	</system.serviceModel>
</configuration>
